<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Display</title>
    <link rel="stylesheet" href="/WeatherAlertService/src/main/resources/static/styles.css">
</head>
<body>
<div class="error-card">
    <div class="error-title">Oops!</div>
    <div class="error-message">
        Something went wrong. Please check if the city is valid or try again later
    </div>
    <button class="back-button" onclick="history.back()">Go Back</button>
</div>
</body>
</html>